//banner
.banner{
    background-color: black;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 3rem;
    box-sizing: border-box;

    &::after{
        content: "";
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        position: absolute;
        background-color: black;
        opacity: 0.4;
    }

   h1,p{
    font-size: 3rem;
    width: 40%;
    z-index: 10;
   }

   p{
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 100;
   }

   div{
    display: flex;
    align-items: center;

    button{
        padding: 1rem;
        width: 150px;
        outline: none;
        border: 0;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
        z-index: 10;
        margin: 1rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
       

        &:hover{
            opacity: 0.6;
        }
       
      &:nth-child(odd){
      background-color: white;
      color: black;
      box-shadow: rgb(246, 246, 246);
      }
    
      &:nth-child(even){
        background-color: rgb(66, 64, 64);
        color: white;
        box-shadow: rgb(247, 248, 243);
    }
        svg{
            font-size: 1.5rem;
            margin: 0 5px;
        }
       }
       
    }
   }
   
   

.row{

    h4{
      margin: 0.5rem;
      padding: 2px;
      font-weight: 100px;
    }

    div{
        display: flex;
        overflow-x: auto;
        padding: 0.1px;
        background-color: black;
    }
}
.card{
    width: 250px;
    cursor: pointer;
    margin: 0.5rem;
    transition: transform 0.5s;
    background-color: black;
&:hover{
    transform: translateY(-10px) scale(1.05);
}

}
.home{
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: 100px;
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    padding: 1.5rem;
  }

  .banner h1 {
    font-size: 1.8rem;
    width: 100%;
  }

  .banner p {
    font-size: 0.9rem;
    width: 100%;
  }

  .banner div {
    flex-direction: column;
    align-items: flex-start;
  }

  .banner button {
    width: 100%;
    margin: 0.5rem 0;
  }

  .card {
    width: 140px;
  }
}
