//navbar
.navbar{
    background-color: black;
    height:80px;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    box-sizing: border-box;
    justify-content: space-between;
 
  >img{
     height: 80%;
  }
 
 svg{
     color: white;
     font-size: 25px;
 }
 a{
    
     text-decoration: none;
     color: white;
     margin: 2vmax;
 }
  >div{
     width: 100%;
     color: white;
     text-decoration: none;
     margin-left:4vmax;
     
  }
 }
 
 
 